/* All Weather backgrounds */
body {
  background-color: skyblue;
}

.clear {
  background: skyblue url(../assets/weather/clear.jpg) no-repeat 00;
  background-size: cover;
}

.broken {
  background: skyblue url(../assets/weather/broken.jpg) no-repeat 00;
  background-size: cover;
}

.few {
  background: skyblue     url(../assets/weather/few.jpg) no-repeat 00;
  background-size: cover;
}

.scattered {
  background: skyblue url(../assets/weather/scattered.jpg) no-repeat 00;
  background-size: cover;
}

.shower {
  background: skyblue url(../assets/weather/shower.jpg) no-repeat 00;
  background-size: cover;
}

.rain {
  background: skyblue url(../assets/weather/rain.jpg) no-repeat 00;
  background-size: cover;
}

.thunder {
  background: skyblue url(../assets/weather/thunder.jpg) no-repeat 00;
  background-size: cover;
}

.snow {
  background: skyblue url(../assets/weather/snow.jpg) no-repeat 00;
  background-size: cover;
}

.mist {
  background: skyblue url(../assets/weather/mist.jpg) no-repeat 00;
  background-size: cover;
}

.weather {
  background: skyblue url(../assets/weather/weather.jpg) no-repeat 00;
  background-size: cover;
}

container {
  margin: 50px 0 50px 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

h1 {
  font-size: 80px;
  font-family: 'Abril Fatface', serif;
}

img {
  border: 4px solid #323232;
  border-radius: 4px;
  margin: 50px;
}

.icon {
  border: none;
  height: 70px;
  margin: 10px;
}

#location {
  margin-top: 60px;
}

.par {
  font-size: 30px;
  font-family: 'Abril Fatface', serif;
}

.info {
  font-size: 26px;
  font-family: serif;
}

#dynamictemp {
  display: block;
  height: 100px;
}

#temp {
  cursor: pointer;
  display: block;
}

#map {
  display: block;
}

#map img {
  height: 250px;
  width: 250px;
}

@media (min-width: 750px) {
  #map img {
    height: 400px;
    width: 400px;
  }
}
